header {


    display: flex;
    flex-direction: row;
}

div {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: 10px;


}



@media screen and (max-width:768px) {
    header {


        display: flex;
        flex-direction: column;
    }

    div {

        background-color: rgb(34, 155, 255);
        width: 100px;
        height: 100px;
        margin: 10px;

        display: flex;
        flex-direction: column;
    }


}